/* variables */
:root {
    --black: #252525;
    --white: #fffaf0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* header */
.page-header {
    position: relative;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 9%;
    background: rgba(105, 105, 105, 0.5);
}


.logo {
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    width: 100%;
}

.navlist {
    display: flex;
    width: 100%;
}

.navlist a {
    color: var(--white);
    margin-left: 5rem;
    font-size: 1rem;
    font-weight: 700;
}

.rules {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules a {
    font-size: 5rem;
}

/* main page */
main {
    padding: 1rem 2rem;
}

.container {
    width: 100%;
    position: relative;
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

#map {
    height: 50vh;
    width: 100%;
    filter: grayscale(100%) invert(100%);
    overflow: hidden;
    border: solid var(--white) 2px;

}

.boxes {
    width: 100%;
    margin-left: 1rem;
}

.box {
    padding: 1rem;
    border: solid var(--black) 2px;
}

#map, .box {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    margin-bottom: 1rem;
}

.box h2, .box p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.box table {
    width: 100%;
    text-align: center;
}

#player-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  z-index: 9999;
}

#player-form {
  display: flex;
  width: 50%;
  margin: 4rem auto;
  flex-direction: column;
}

#player-form input {
  padding: 1rem;
}
