/* variables */
:root {
    --black: #252525;
    --white: #fffaf0;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


/* header */
.page-header {
    position: relative;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    transition: all-ease;
    background: rgba(37, 37, 37, 0.4);
    justify-content: center;
}

.header-icon {
    padding-right: 5rem;
    font-size: 25px;
}

.logo {
    width: 30%;
    display: flex;

}

.logo-li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.navlist a {
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
}

a .active {
    color: darkgreen;
}


/* main page */
main {
    padding: 1rem 2rem;

}

.container {
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient(239deg, rgba(255, 255, 255, 1) 0%, rgba(117, 117, 117, 1) 55%, rgba(20, 20, 20, 1) 100%);
}

.game {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.about {
    height: 100vh;
    justify-content: space-around;
    margin-top: 2rem;
}

#map {
    height: 80vh;
    width: 100%;
    filter: grayscale(100%) invert(100%);
    overflow: hidden;
    border: solid var(--white) 2px;

}

.boxes {
    width: 100%;
    margin-left: 1rem;
}

.box {
    padding: 1rem;
    border: solid var(--black) 2px;
}

#map, .box {
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    margin-bottom: 1rem;
}

.box h2, .box p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.box h2 {
    padding-bottom: 1rem;
}

.box table {
    width: 100%;
    text-align: center;
}

.player-info {
    display: flex;
    flex-direction: row;
}

#player-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    z-index: 9999;
}

#player-form {
    display: flex;
    width: 50%;
    margin: 4rem auto;
    flex-direction: column;
}

#player-form input {
    padding: 1rem;
}

.resource-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.resource-list li {
    font-size: 40px;
}
.resource-list p {
    font-size: 20px;
}

.buttons {
    display: flex;
}